**/*.log
**/*.suo
**/.vs
**/.vscode/*.*
**/*.csproj.user
**/*.txt
/MsnTools/bin
/MsnTools/.grunt
/MsnTools/.tscache
/MsnTools/MsnTools.xproj.user
/MsnTools/node_modules
/MsnTools/project.lock.json
/MsnTools/typings
/MsnTools/obj/Debug
/packages/**/*/*.*
!/packages/**/*.targets
!/packages/**/*.props
/MsnTools/**/*.js
!/MsnTools/tests/karmaTestIndex.js
/MsnTools/**/*.js.map
/MsnTools/**/.tscache/*
/MsnTools/wwwroot/**/*
/artifacts/**/*